.menu-fileList{
	background-color: #ffffff;
	height: 533px;
	width: 250px;
	border: 1px solid #D2D2D2;
}
/* 列表上部，当前文件夹，及设置 */
.menu-title{
	height: 41px;
	border-bottom: 1px solid #99CC33;
	font-size: 14px;
}
.menu-title >ul >li{
	float: left;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.menu-title-return,.menu-title-settings{
	width: 49px;
}
.menu-title-return i,.menu-title-settings >i{
	font-size: 20px;
}
.menu-title .menu-title-fileName{
	width: 150px;
	cursor: default;
}
.menu-title-settings:hover{
	color: #FF6600;
}
/* 菜单下部 ，展示菜单列表*/
.menu-content{
	padding-right: 5px;
	height: 490px;
	overflow-y: auto;
	overflow-x: hidden;
}
.menu-content .menu-content-item{
	position: relative;
	padding: 0 0 0 8px;
	height: 35px;
	line-height: 35px;
}
.menu-content .menu-content-item:hover{
	background-color: #fbfff2;
}
.file-notepad span{
	vertical-align: top;
	display: inline-block;
	float: left;
}
.file-notepad .notepad-name{
	margin-left: 3px;
	width: 65%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: default;
	font-size: 12px;
}
.file-notepad:hover .notepad-date{
	display: none;
}
.file-notepad:hover .notepad-edit{
	display: block;
}
.file-notepad .notepad-edit:hover .notepad-edit-tip{
	display: block;
}
.file-notepad .notepad-edit:hover i{
	color: #FF6600;
}
.file-notepad:nth-child(1) .notepad-edit:hover .notepad-edit-tip{
	top: 35px;
}
.file-notepad:nth-child(2) .notepad-edit:hover .notepad-edit-tip{
	top: 35px;
}
/* 便签编辑提示层 */
.file-notepad .notepad-edit .notepad-edit-tip{
	display: none;
	position: absolute;
	top: -60px;
	right: 0px;
	width: 100px;
	z-index: 20;
	background-color: #FFFFFF;
	border: 1px solid #ffd1b2;
}
.file-notepad .notepad-edit .notepad-edit-tip li{
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	text-align: center;
	cursor: default;
}
.file-notepad .notepad-edit .notepad-edit-tip li:hover{
	background-color: #fff0e5;
}
/* 主体编辑框 */
.main-notepad{
	width: 735px;
}
.address-file{
	height: 41px;
	line-height: 41px;
	color: #a1a1a1;
}
.address-file input{
	border: 0;
	outline: none;
	height: 35px;
	margin-left: 5px;
	width: 85%;
	padding-left: 5px;
}
.notepad-save-btn{
	background-color: #FF6600
}
.content-notepad{
	background-color: #ffffff;
}

/* other */
