/*记事本主页比较特殊，他需要适应整个页面的高度。*/
/*padding-bottom 本身设置60px,但是在IE8及以下版本不兼容box-sizing: border-box;导致出现滚动条。*/
.wrapper {
	padding-bottom: 0px;
}
/*这里设置固定高度，防止出现滚动条*/
.container {
	height: 80%;
}
.menu-fileList{
	background-color: #ffffff;
	height: 500px;
	width: 250px;
	border: 1px solid #D2D2D2;
}
/* 列表上部，当前文件夹，及设置 */
.menu-title{
	height: 41px;
	border-bottom: 1px solid #99CC33;
	font-size: 14px;
}
.menu-title >ul >li{
	float: left;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.menu-title-return,.menu-title-settings{
	width: 49px;
}
.menu-title-return i,.menu-title-settings >i{
	font-size: 20px;
}
.menu-title .menu-title-fileName{
	width: 150px;
	cursor: default;
}
.menu-title-settings:hover{
	color: #FF6600;
}
/* 菜单下部 ，展示菜单列表*/
.menu-content{
	padding-right: 5px;
	height: 459px;
	overflow-y: auto;
	overflow-x: hidden;
}
.menu-content .menu-content-item{
	position: relative;
	padding: 0 0 0 8px;
	height: 30px;
	line-height: 30px;
}
.menu-content .menu-content-item:hover{
	background-color: #fbfff2;
}
.file-notepad span{
	vertical-align: top;
	display: inline-block;
	float: left;
}
.file-notepad .notepad-name{
	margin-left: 3px;
	width: 65%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: default;
	font-size: 12px;
}
.file-notepad:hover .notepad-date{
	display: none;
}
.file-notepad:hover .notepad-edit{
	display: block;
}
.file-notepad .notepad-edit:hover .notepad-edit-tip{
	display: block;
}
.file-notepad .notepad-edit:hover i{
	color: #FF6600;
}
/* 便签编辑提示层 */
.file-notepad .notepad-edit .notepad-edit-tip{
	display: none;
	position: absolute;
	top: 30px;
	right: 0px;
	width: 100px;
	z-index: 20;
	background-color: #FFFFFF;
	border: 1px solid #ffd1b2;
}
.file-notepad .notepad-edit .notepad-edit-tip li{
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	text-align: center;
	cursor: default;
}
.file-notepad .notepad-edit .notepad-edit-tip li:hover{
	background-color: #fff0e5;
}
/* 主体编辑框 */
.main-notepad{
	height: 100%;
	width: 735px;
}
.address-file{
	height: 41px;
	line-height: 41px;
	color: #a1a1a1;
}
.address-file input{
	border: 0;
	outline: none;
	height: 35px;
	margin-left: 5px;
	width: 85%;
}
.notepad-save-btn{
	background-color: #FF6600
}
.content-notepad{
	background-color: #ffffff;
	height: 94%;
}
/*ckeditor 超出上级容器的范围。此处调整一下*/
.content-notepad .cke_contents{
	height: 94% !important;
}
/* other */
