<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="system">
	<!-- 查询当前用户 -->
	<select id="selectUserByName" parameterType="String" resultType="CurrentUser">
	    select 
		 c.id as id,
		 c.userImage as userImage,
		 c.username as username,
		 c.password as password,
		 c.status as status,
		 c.alias as alias,
		 d.sex as sex,
		 c.type as type	    
	    from t_customer as c 
	    left join t_customer_detail as d 
	    on c.id = d.id 
	    where c.username = #{username}
	</select>
	<select id="selectUserByID" parameterType="String" resultType="CurrentUser">
	    select 
		 c.id as id,
		 c.userImage as userImage,
		 c.username as username,
		 c.password as password,
		 c.alias as alias,
		 d.sex as sex,
		 c.type as type	    
	    from t_customer as c 
	    left join t_customer_detail as d 
	    on c.id = d.id 
	    where c.id = #{customerID}
	</select>
	<!-- 新增用户 -->
	<select id="selectAlias" parameterType="String" resultType="String">
	    select 
	     id
	    from t_customer 
	    where alias = #{alias}
	</select>
	<insert id="insertIntoCustomer" parameterType="RegisterInfo">
		insert into
		t_customer(id,username,alias,password,registerType,status,validCode,intime)
		values(#{id},#{username},#{alias},#{password},#{registerType},#{status},#{validCode},#{intime})
	</insert>
	<insert id="insertIntoCustomerDetail" parameterType="RegisterInfo">
		insert into
		t_customer_detail(id,sex,updateTime)
		values(#{id},#{sex},#{updateTime})
	</insert>
	<!-- 邮箱账户激活 -->
	<select id="selectValidCode" parameterType="String" resultType="Map">
		select 
		 status as status,
		 validCode as validCode
		from t_customer where id = #{customerID}
	</select>
	<update id="activation" parameterType="Map">
		update t_customer set status = 2, activationTime = #{activationTime} where id = #{customerID}
	</update>
</mapper>