.aside{
	width: 40px;
	/* height: 440px; */
	background-color: #EAEAEA;
	position: fixed;
	top: 60px;
	z-index: 10;
	box-shadow: 0px 0px 1px 1px #888888;
}
.aside-bar > li{
	text-align: center;
}
.aside-bar > li:hover{
	color: #FF6600;
	background-color: #FFFFFF;
	cursor: default;
}
.aside-bar > li:hover .aside-bar-content{
	display: block;
}
.aside-bar-item{
	height: 60px; 
}
.aside-bar-collect, .aside-bar-other{
	height: 40px;
	line-height: 40px;
}
/* 设置i的行高为40，剩下的30px 给span。保证两个元素在同一个li中居中 */
.aside-bar-item >i{
	line-height: 40px;
}
.aside-bar-item >span{
	display: block;
	height: 30px;
	margin-top: -5px; /* 字体向上移动5个像素，离图标近点 */
}
.aside-bar-content{
	position: absolute;
	z-index: 10;
	top: 0;
	left: 40px;
	height: 520px;
	display: none;
	width: 240px;
	color: black;
	background-color: #FFFFFF;
	font-size: 12px;
	box-shadow: 5px 5px 3px #EAEAEA;
	overflow-y: auto;
	overflow-x: hidden;
}
.aside-bar-content .url-item{
	text-align: left;
	padding-left: 2px;
	position: relative;
}
.aside-bar-content .url-item:hover{
	background-color: #F4F8FB;
}
/* 实现下划线从中间向两边延伸 */
.aside-bar-content .url-item:after{
	content: "";
	width: 0px;
	height: 0px;
	border-bottom: 1px dotted #FF6600;
	position: absolute;
	top: 100%;
	left: 50%;
	transition: all 1s;
}
.aside-bar-content .url-item:hover:after{
	left: 0%;
	width: 100%   /*原理是left:50%变成0%的同时，宽度从0%变成100%*/
}
/* 实现图标靠左居中对齐，且右侧文字超出范围使用省略号代替（单行文本） */
.url-content{
	height:25px; 
	line-height:25px; 
	padding-left:20px; 
	/* background:url(../image/taobao.ico) no-repeat left center; */
	background-size: 16px 16px;
}
.url-content .url-info{
	display: inline-block;
	width: 90%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: middle;
}
/* 编辑URL */
.url-content .url-edit{
	display: none;
}
.url-content:hover .url-edit{
	display: inline-block;
}
.url-edit:hover .url-edit-tip{
	display: block;
}
.url-edit:hover i{
	color: #FF6600;
}
.url-edit-tip{
	display: none;
	position: absolute;
	top: 24px;
	width: 50px;
	z-index: 20;
	right: 0px;
	background-color: #FFFFFF;
	border: 1px solid #ffd1b2;
}
.url-edit-tip li{
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #4d4d4d;
	cursor: default;
}
.url-edit-tip li:hover{
	background-color: #fff0e5;
}