body, html {
	background-color: #f7f7f7;
	width: 100%;
	height: 100%;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	position: relative;
	padding-bottom: 60px;
}

.container {
	width: 1000px;
	margin: 10px auto 0px;
	position: relative;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.ht {
	margin: 0 auto;
}

.tc {
	text-align: center;
}

.wdfull {
	width: 100%;
}
.fs16{
	font-size: 16px !important;
}
.fs14{
	font-size: 14px !important;
}
.fs12{
	font-size: 12px !important;
}
.file-selected{
	background-color: #EEFFCC !important;
}

/* 页面公用部分 */
.fix-tip{
	position: fixed;
	right: 200px;
	bottom: 150px;
	z-index: 20px;
}
.fix-tip-item{
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background-color: #99CC33;
	margin-top: 10px;
	cursor: pointer;
	border-radius: 3px;
	color: #FFFFFF;
}
.fix-tip-item:hover{
	background-color: #FFFFFF;
	color: #99CC33;
	border: 1px solid #99CC33;
}
.fix-tip .rolling-top{
	display: none;
}