body, html {
	background-color: #f7f7f7;
	width: 100%;
	height: 100%;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	position: relative;
	padding-bottom: 60px;
}

.container {
	width: 1000px;
	margin: 10px auto 0px;
	position: relative;
}
/* 浮动与居中对齐 */
.fl {
	float: left;
}

.fr {
	float: right;
}

.ht {
	margin: 0 auto;
}

.tc {
	text-align: center;
}

.pr{
	right: 0px;
}

.wdfull {
	width: 100%;
}

.wd40 {
	width: 40px;
}
.wd100 {
	width: 100px;
}
/* 常用字体 */
.fs18{
	font-size: 18px !important;
}
.fs16{
	font-size: 16px !important;
}
.fs14{
	font-size: 14px !important;
}
.fs12{
	font-size: 12px !important;
}
/* 常用颜色 */
.file-selected{
	background-color: #EEFFCC !important;
}
.cl99{
	color: #99CC33;
}
.clEE{
	color: #EE6600;
}
.clA1{
	color: #A1A1A1;
}
.cl4D{
	color: #4d4d4d;
}
.clD2{
	color: #D2D2D2;
}
.cl75{
	color: #757575;
}
.cl33{
	color: #333333;
}
.bgFF{
	background-color: #FFFFFF;
}
.bgEE{
	background-color: #EE6600;
}
/* 圆角  */
.br-circular{
	border-radius: 50%;
}
/* 页面公用部分 */
.fix-tip{
	position: fixed;
	right: 200px;
	bottom: 150px;
	z-index: 20px;
}
.fix-tip-item{
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background-color: #99CC33;
	margin-top: 10px;
	cursor: pointer;
	border-radius: 3px;
	color: #FFFFFF;
}
.fix-tip-item:hover{
	background-color: #FFFFFF;
	color: #99CC33;
	border: 1px solid #99CC33;
}
.fix-tip .rolling-top{
	display: none;
}

/* 弹出登陆页面  */
#login-pop{
	display: none;
	text-align: center;
	padding: 20px;
}
#login-pop .login-pop-form{
	margin: 30px 0 20px 0;
}
/* 登录分割线 */
.login-pop-title .cut-off{
    height: 1px;
    border-top: 1px solid #EE6600;
    text-align: center;
}
.login-pop-title .cut-off span{
    position: relative;
    top: -14px;
    background: #fff;
    padding: 0 20px;
    color: #99CC33;
    font-size: 18px;
}
.login-pop-form .login-btn-div{
	text-align: left;
}
.login-pop-form .login-btn{
	margin-left: 20px;
	background-color: #EE6600;
	width: 160px;
}
/* 添加URL地址  */
#navigation-add-pop{
	display: none;
}
.navigation-add-title{
	margin: 10px 0 20px 30px;
}
.navigation-add-title i{
	color: #99CC33;
	font-size: 28px;
}
.navigation-add-title span{
	margin-left: 20px;
	font-size: 16px;
	color: #333333;
}
.navigation-add-form .url-input{
	width: 470px;
}
.navigation-add-form .folder-select{
	width: 100px;
	height: 30px;
	vertical-align: middle;
	
}