body, html {
	background-color: #f7f7f7;
	width: 100%;
	height: 100%;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	position: relative;
	padding-bottom: 60px;
}

.container {
	width: 1000px;
	margin: 10px auto 0px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.ht {
	margin: 0 auto;
}

.tc {
	text-align: center;
}

.wdfull {
	width: 100%;
}
.fs16{
	font-size: 16px !important;
}
.fs14{
	font-size: 14px !important;
}
.fs12{
	font-size: 12px !important;
}
.file_selected{
	background-color: #EEFFCC !important;
}