
/* 页面基础定义 */

/* 输入框placeholder文件的默认颜色 */
::-webkit-input-placeholder{color: #c2c2c2}

/* 头部 */
.mo-header{position: fixed; left: 0; top: 0; z-index: 10000; width: 100%; height: 60px; border-bottom: 1px solid #404553; border-right: 1px solid #404553; border-radius: 0;}
.mo-logo{position: absolute; left: 15px; top: 11px;}
.mo-nav{margin-left: 200px;}
.mo-nav a i{position: absolute; left: 25px; top: 0; padding-right: 10px; font-size: 26px;}
.mo-nav a .icon-shouye, .nav a .icon-shezhi{top: 2px;}

.mo-nav-user{position: absolute; top: 0; right: 0;}
.mo-nav-user .iconfont{position: relative;}
.mo-nav-avatar img{width: 36px; height: 36px; margin-left: 10px; border-radius: 100%;}
.mo-nav-avatar  .icon-renzheng{font-size: 16px; top: 1px;}
.mo-nav-avatar .mo-badge-vip{position: relative; margin-left: 10px;}
.mo-nav-user .layui-nav-child{text-align: center;}
.mo-nav-user .layui-nav-child a i{position: relative; top: 2px; margin-right: 10px; font-size: 26px;}

.mo-nav-msg{position:absolute; top: 50%; left: -25px; height: 20px; line-height: 20px; margin-top: -10px; padding:0 6px!important; background-color: #FF7200; color: #fff; border-radius: 2px;}
.mo-nav-msg:hover{color:#fff;}

.mo-header .layui-nav{padding: 0; background: none;}
.mo-header .mo-nav a{padding: 0 25px 0 60px;}

.mo-header .mo-nav .mo-nav-child a{padding-left: 25px;}
.mo-header .mo-nav .layui-nav-more{display: none;}

.mo-header .mo-nav-user li a{padding: 0 10px;}
.mo-header .mo-nav-user li .mo-nav-avatar{padding-right: 0;}
.mo-header .mo-nav-user a.iconfont{color: #A9B7B7;}
.mo-header>.layui-nav-item a{color: rgba(255,255,255,0.5);}
.mo-header .layui-this a{color: #fff;}
.mo-header .layui-nav .layui-this:after,
.mo-header .layui-nav .layui-nav-bar,
.mo-header .mo-nav-user .layui-nav-more,
.mo-html-layui .mo-nav-avatar .layui-nav-more{display: none !important;}
.mo-header .mo-nav-user .layui-nav-child{left: auto; right: 0; width: 120px; min-width: 0;}
.mo-html-layui .mo-nav-msg{left: -30px;}
.mo-html-layui .layui-header .layui-nav-child dd{text-align: center;}
.mo-html-layui .layui-header .layui-nav-item a cite{padding: 0 0 0 10px;}
.mo-html-layui .layui-header .layui-nav .mo-layui-user{margin: 0; margin-left: 40px;}
.mo-html-layui .layui-header .layui-nav .mo-layui-user a{padding: 0;}
.mo-layui-user .layui-nav-child{left: auto; right: 0; min-width: 0; width: 120px;}

/* 底部 */
.mo-footer {margin: 50px 0 0; padding: 20px 0 30px; line-height: 30px; text-align: center; color: #737573; border-top: 1px solid #e2e2e2;}
.mo-footer a{padding:0 6px; font-weight: 300; color: #333;}
.mo-footer a:hover{color: #777;}
.mo-union{margin-top: 10px; color: #999;}
.mo-union>*{display: inline-block; vertical-align: middle;}
.mo-union a[upyun] img{width: 80px;}
.mo-union span{position: relative; top: 3px;}
.mo-union span a{padding: 0; display: inline; color: #999;}
.mo-union span a:hover{text-decoration: underline;}

/* 内容块 */
.mo-panel{margin-bottom: 15px; border-radius: 2px; background-color: #fff; box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);}
.mo-panel[pad20]{padding: 20px;}
.mo-panel-title{position: relative; height: 50px; line-height: 50px; padding: 0 15px; border-bottom: 1px dotted #E9E9E9; color: #333; border-radius: 2px 2px 0 0; font-size: 14px;}
.mo-panel-main{padding: 10px 15px;}
.mo-panel-border{border: 1px solid #e6e6e6; box-shadow: none;}
.mo-panel-border .mo-panel-title{border-bottom: 1px solid #e6e6e6;}

/* 内容内部网格化 */
.mo-list-quick{border: 1px solid #f2f2f2; border-bottom: none; border-right: 0;}
.mo-list-quick .layui-col-xs4{height: 40px; line-height: 40px; padding: 0 10px; border: 1px solid #f2f2f2; border-left: none; border-top: none; text-align: center; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.mo-list-quick a{display: block;}
.mo-list-quick a:hover{color: #99CC33;}

/* 内容块内部的列表-- 水平 */
.mo-column{height: 50px; line-height: 50px;}
.mo-column ul li{position: relative; display: inline-block; height: 50px;}
.mo-column ul li a{padding: 0 20px;}
.mo-column ul li.layui-this:after{ position: absolute; bottom: 13px; left: 8px; z-index: 0; width: 50px; height: 22px; border: 1px solid #5FB878; border-radius: 2px;}
.mo-column ul li.layui-this a{color: #5FB878;}
.mo-column ul li .mo-mid{margin: 0 20px;}
.mo-column-right{position: absolute; right: 0; top: 0;}
.mo-column-right .layui-btn{vertical-align: initial;}
.mo-column .layui-badge-dot{position: absolute; top: 50%; left: 50%; margin: -4px 0 0 20px;}

/* 内容块内部的列表-- 垂直 */
.mo-ul{position: relative;}
.mo-ul li{height: 35px; line-height: 35px;}
.mo-ul li a{padding: 0 20px;}
.mo-ul li a:hover{color: #99CC33;}
.mo-ul li.li-this a{color: #99CC33;}

.about-ul{padding: 0 10px; color: #a1a1a1}
.about-ul li{height: 25px; line-height: 25px;}
.about-ul li a{color: #a1a1a1}
.about-ul li a:hover{color: #99CC33;}


@media screen and (max-width: 992px) {
    body .header .layui-nav .layui-nav-item{margin: 0 5px;}
}