/*** happy.jsp ***/
/* 左侧内容 */
.happy-wrapper{
	width: 680px;
	margin-right: 20px;
}
.happy-item{
	margin: 0 0 10px 0;
	background-color: #FFFFFF;
	padding: 20px;
	border-radius: 3px;
}
.happy-header img,.happy-name-wrapper{
	display: inline-block;
	vertical-align: middle;
}
.happy-header img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}
.happy-name-wrapper span{
	display: block;
}
.happy-content{
	padding: 10px 0 20px 0;
	color: #4d4d4d;
}
.happy-operation li{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-right: 10px;
	cursor:pointer; 
	color: #a1a1a1;
}
.happy-operation li:hover{
	color: #EE6600;
}
.happy-operation i{
	font-size: 18px;
}
/*** happyMine.jsp ***/
/* 右侧内容 */
.happy-right-wrapper{
	width: 300px;
	
}
#happy-mine-operation{
	width: inherit;
}
/* 投稿 */
.happy-edit{
	height: 50px;
	line-height: 50px;
	background-color: #EE6600;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	border-radius: 3px;
}
.happy-edit:hover{
	background-color: #ff8b33;  /* #ff8b33 */
	cursor: pointer;
}
.happy-edit i,.happy-edit span{
	font-size: 24px;
	display: inline-block;
}
.happy-edit i{
	margin-right: 10px;
}
/* 我的收藏等  */
.happy-mine-info{
	margin-top:20px;
	background-color: #FFFFFF;
	border: 1px solid #D2D2D2;
	border-radius: 3px;
	border-top: 3px solid #EE6600;
}
.mine-info-item{
	height: 35px;
	line-height: 35px;
	padding: 0 0 0 3px;
}
.mine-info-item:hover{
	background-color: #F4F8FB;
	cursor: pointer;
}
.mine-info-item i,.mine-info-item span{
	display: inline-block;
}
.mine-info-item i{
	margin-right: 5px;
	font-size: 18px;
	color: #EE6600;
}
.mine-info-item span{
	font-size: 14px;
	color: #a1a1a1;
}

/*** happyDetail.jsp ***/
/* 发表评论区 */
.happy-comment-wrapper{
	margin-top: 20px;
}
.happy-comment{
	margin-top: 10px;
}
.happy-comment textarea{
	width: 560px;
}
.happy-comment-confirm{
	margin-top: 20px;
	text-align: right;
}
.happy-comment-confirm span,.happy-comment-confirm button{
	display: inline-block;
}
.happy-comment-confirm span{
	margin-right: 20px;
	font-size: 14px;
	color: #D2D2D2;
}
.happy-comment-confirm span em{
	font-size: 18px;
	color: #EE6600;
}
.happy-comment-confirm button{
	background-color: #EE6600;
}
/* 所有的已发表评论 */
.all-comment-wrapper{
	
}
.comment-item{
	padding: 10px;
	border-radius: 3px;
	border-bottom: 1px solid #D2D2D2;
}
.comment-header img,.comment-name-wrapper{
	display: inline-block;
	vertical-align: middle;
}
.comment-header img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 10px;
}
.comment-name-wrapper span{
	display: block;
}
.comment-content{
	padding: 10px 0;
	color: #4d4d4d;
}
.comment-operation li{
	display: inline-block;
	text-align: center;
	margin-right: 10px;
	cursor:pointer; 
	color: #a1a1a1;
}
.comment-operation li:hover{
	color: #EE6600;
}