<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="navigation">
	<!-- 开启二级缓存 各属性默认-->
	<cache></cache>
	<!-- 查询系统预设的导航夹 -->
	<select id="selectNavigationFolder" resultType="t_navigation_folder">
		select * from t_navigation_folder where type = 1 order by sort asc
	</select>
	
	<select id="selectURLByCUSIDANDNAVID" parameterType="map" resultType="t_navigation_url">
		select * from t_navigation_url where customerid = #{customerID} and navigationid = #{navigationID} order by intime desc
	</select>
	
	<select id="selectURLByHits" parameterType="map" resultType="t_navigation_url">
		select * from t_navigation_url where customerid = #{customerID} and type = 2 order by hits desc limit 0,#{amount}
	</select>
	
	<select id="selectURLByNAVIDForSys" parameterType="map" resultType="t_navigation_url">
		select * from t_navigation_url where navigationid = #{navigationID} and type = 1 order by sort asc
	</select>
	
	<resultMap type="java.util.Map" id="imgResultMap" >  
		<result property="imgBytes" column="URLImage" jdbcType="BLOB"  typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>  
	</resultMap>
	<select id="selectURLIconByID" parameterType="Integer" resultMap="imgResultMap">
		select URLImage from t_navigation_url where id = #{urlID}
	</select>
	
	<insert id="saveURL" parameterType="t_navigation_url">
		insert into t_navigation_url(customerid,navigationid,urlimage,urlname,url,type,intime,remark)
		values(
		#{customerId},
		#{navigationId},
		#{urlImage},
		#{urlName},
		#{url},
		#{type},
		#{inTime},
		#{remark})
	</insert>
	
	<update id="updateURL" parameterType="t_navigation_url">
		update t_navigation_url
		<set>
			<if test="navigationId != 0">
				navigationid = #{navigationId},
			</if>
			<if test="urlName != null">
				urlname = #{urlName},
			</if>
			<if test="url != null">
				url = #{url},
			</if>
			<if test="updateTime != null">
				updatetime = #{updateTime},
			</if>
			<if test="accessTime != null">
				accesstime = #{accessTime},
			</if>
			<if test="hits != 0">
				hits = #{hits},
			</if>
			<if test="remark != null">
				remark = #{remark},
			</if>
		</set>
		<where>
			id = #{id}
		</where>
	</update>
	<!-- 访问URL则更新其点击次数及访问时间 -->
	<update id="updateURLForHits" parameterType="map">
		update t_navigation_url set hits = hits + 1 , accesstime = #{accessTime} where id = #{id}
	</update>
	
	<delete id="deleteURL" parameterType="String">
		delete from t_navigation_url 
		<where>
		 	id = #{id}
		</where>
	</delete>
	
</mapper>